.date {text-align: center; background-color: aliceblue;}

.person {background-color: whitesmoke; position: fixed; top: 0;}

.bottombar {background-color: whitesmoke; position: fixed; bottom: 0;}

.wallpaper {background-color: burlywood;}

body {font-family: Arial, Helvetica, sans-serif; font-size: larger;}

.personname {display: inline;}

.messageinsert {background-color: whitesmoke; position: fixed; bottom: 10px;}

.messagefield {display: inline;}

ul {list-style: none;}

.me {background-color: #DCF8C6;}

li {background-color: whitesmoke; padding: 5px;}

.personname {font-size: 20px;}

.portrait {border-radius: 50%; height: 25px;}

.online {font-size: small; color: gray;}



