* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-size: cover;
    height: 100%;
    background: url("https://media2.dev.to/dynamic/image/width=800%2Cheight=%2Cfit=scale-down%2Cgravity=auto%2Cformat=auto/https%3A%2F%2Fdev-to-uploads.s3.amazonaws.com%2Fuploads%2Farticles%2Fb9qk3w41sqf1l0ccujfh.png");
}


.chat {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: url("https://media2.dev.to/dynamic/image/width=800%2Cheight=%2Cfit=scale-down%2Cgravity=auto%2Cformat=auto/https%3A%2F%2Fdev-to-uploads.s3.amazonaws.com%2Fuploads%2Farticles%2Fb9qk3w41sqf1l0ccujfh.png");
}

.navbar {
    background-color: whitesmoke;  
    top: 0;
    display: flex;
    width: 100%;
    align-items: center;
    height: 60px;
    padding-left: 0px;
    position: relative;
}

.navbar .navbar-left {
    flex: 1;
}

.navbar-right ion-icon {
    display: inline-block;
    width: 20px;
    margin: 15px;
    font-size: 25px;
}

.navbar .portrait {
    width: 35px;
    display: inline-block;
    border-radius: 50%;
    margin-left: 32px;
    margin-bottom: 25px;
}

.navbar .arrow-back {
    display: inline-block;
    width: 30px;
    position: absolute;
    top: 18px;
    font-size: 25px;
}

.navbar h2 {
    display: inline-block;
    line-height: 63px;
    vertical-align: bottom;
    color: black;
    font-size: 19px;
    padding-left: 7px;
    font-weight: 100;
}

.navbar span {
    color: #ccc;
    position: absolute;
    top: 42px;
    left: 82px;
    font-size: 12px;
}

.chat-field {
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: auto;
    height: 400px;
    flex: 1;
}

.bottombar {
    display: flex;
    position: relative; 
    bottom: 5px;
    border-radius: 60px;
    justify-content: center;
    align-items: center;
    background-color: none;
    
}


.bottombar .send {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: -25px;
    color: white;
    background: #25d366;
    padding: 1em;
    border-radius: 50%;
    outline: solid;
    outline-width: thin;
    outline-color: #128c7e;
}

.bottombar .receive {
    width: 20px;
    height: 20px;
    margin-right: 40px;
    padding: 2em;
    right: 40px;

}

.bottombar .happy {
    display: block;
    flex: 1;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 16px;
    top: 18px;

}

.bottombar-icons {
    position: absolute;
    right: 10px;
    top: 19px;
    font-size: 25px;
    display: block
    flex 1;
}


ul {
    list-style: none;
    padding: 19px;
}

.green-chat {
    background-color: #DCF8C6;
    padding-right: 65px;
    margin-left: 100px;
    padding: 10px;
}

li {
    background-color: white; 
    padding: 0 2rem; 
    margin: 13px; 
    width: fit-content;
    justify-content: center;
    align-items: center;
    min-width: 60px; 
    max-width: 350px; 
    margin-left: -25px;
    padding: 20px;
    border-radius: 10%;
}

.bottombar input {
    display: block;
    flex: 1;
    width: 100%;
    height: 30px;
    border-radius: 60px;
    margin: 0;
    padding: 10px;
    outline: none;
    font-size: 17px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #ccc
    color #555
}












