.mies {
  color: green; text-indent: 200px; background-color: greenyellow;
}

.date {text-align: center; background-color: aliceblue;}

.person {background-color: whitesmoke;}

.bottombar {background-color: whitesmoke; position: fixed; bottom: 0;}

.tausta {background-color: burlywood;}


